.text-center{
    text-align:center;
}
.bg-red{
    background: red;
}
.mx-auto{
    /* display: block; */
    margin: auto;
}
.flex{
 display: flex;
}
.flex-col{
 flex-direction: column;
}
.item-center{
    align-items: center;
}